.block {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;

    background-color: var(--lightgray);
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}


.active{
    background-color: var(--green);
}

.block:disabled {
    cursor: not-allowed;
}

.block.lit {
    background-color: var(--green);
}