.block {
    display: block;
    width: 80px;
    height: 80px;
    background-color: var(--lightgray);
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.block:hover:not(:disabled) {
    background-color: var(--green);
    transform: scale(1.05);
}

.block:disabled {
    cursor: not-allowed;
}

.block.lit {
    background-color: var(--green);
}