.btn {
    display: inline-block;
    padding: .5rem 1rem;
    border: 2px solid transparent;
    cursor: pointer;
    box-sizing: border-box;
}

.btn.gold {
    background-color: var(--gold);
    color: var(--white);
}

.btn.blue {
    background-color: var(--blue);
    color: var(--white);
}

.btn.white {
    border-color: var(--black);
    background-color: var(--white);
    color: var(--black);
}