.title{
    font-size: 4rem;
    padding: 0;
    margin: 0 0 2rem 0;
}
.message{
    font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 2rem;
    font-weight: var(--bold);
  }

  .message {
    font-size: 1rem;
  }
    
}