
.scoreCounter{
    background-color: var(--gold);
    display: inline-block;
    font-size: var(--text);
    font-weight: var(--semibold);
    padding: 1rem 0.5rem;
    color: var(--black);
    border-radius: 1rem; 
    text-align: center;

    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.25rem;
}