.wrapper {
    display: flex;
    justify-content: center;
}

.game {
    position: relative;
    width: 1920px;
    height: 900px;
    background-image: url("/public/images/TrezorFloor.jpg"); /*jinej obrazek*/
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    overflow: hidden;
    cursor: none;
}

.darkness {
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-color: rgba(0,0,0,0.8);
}

.light {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.bill {
    position: absolute;
    width: 48px;
    height: 24px;
    background: #22c55e;
    border: 2px solid #15803d;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
    cursor: grab;
    transition: transform 0.1s ease;
}

.bill:hover {
    transform: scale(1.1);
}