@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');




body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text-color);
}


:root {
  color-scheme: light dark;
  --background: light-dark(var(--white), #302E2E);
  --text-color: light-dark(var(--black), var(--white));



  --gold: #D4A017;
  --darkgreen: #0A7A3D;
  --green: #0DBF5A;
  --blue: #0C1428;
  --red: #BD0000;
  --black: #000000;
  --white: #FFFFFF;
  --lightgray: #D9D9D9;
  --gray: #2A303C;
  font-family: "Orbitron", "Rajdhani", sans-serif;

  --text: 1.5rem;
  --title: 4rem;
  --subtitle: 3rem;
  --normal: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;




}

p {
  font-family: 'Rajdhani', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Orbitron', sans-serif;
}


.marked {
  color: var(--darkgreen);
}

.marked--failure {
  color: var(--red);
}