@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }


}


:root {
  --gold: #D4A017;
  --darkgreen: #0A7A3D;
  --green: #0DBF5A;
  --blue: #0C1428;
  --red: #BD0000;
  --black: #000000;
  --white: #FFFFFF;
  --gray: #2A303C;
  font-family: "Orbitron" "Rajdhani", sans-serif;
  --text: 1.5rem;
  --title: 4rem;
  --subtitle: 3rem;
  --normal: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;




}

p {
  font-family: 'Radjhani', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Orbitron', sans-serif;
}


.marked {
  color: var(--darkgreen);
}

.marked--failure {
  color: var(--red);
}