@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');




body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text-color);
}


:root {
  color-scheme: light dark;
  --background: light-dark(var(--white), #302E2E);
  --text-color: light-dark(var(--black), var(--white));


  --gold: #D4A017;
  --darkgreen: #0A7A3D;
  --green: #0DBF5A;
  --blue: #0C1428;
  --red: #BD0000;
  --black: #000000;
  --white: #FFFFFF;
  --lightgray: #D9D9D9;
  --gray: #2A303C;
  font-family: "Oxanium", "Rajdhani", sans-serif;

  --text: 1.5rem;
  --title: 4rem;
  --subtitle: 3rem;
  --normal: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;




}

p {
  font-family: 'Rajdhani', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oxanium', sans-serif;
}


.marked {
  color: var(--darkgreen);
}

.marked--failure {
  color: var(--red);
}

.wrap {
  min-height: 100vh;
  position: relative;
}

.wrap--start {
  background-image: url('/images/StartBG.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;


}

.wrap::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/images/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.wrap--centered {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 4rem;
}

.wrap--centered.wrap--fullycentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 0;
}

@media screen and (max-width: 600px) {
  .wrap--centered {
    padding-top: 2rem;
  }

  .wrap::before {
    background-image: none;
  }
}

.initial__text {
  font-size: 3rem;
  margin: 0;

}

.initial__title {
  font-size: 4rem;
  margin: 0;
}

.error__title {
  font-size: 4rem;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .error__title {
    font-size: 3rem;
  }

  .error__text {
    font-size: 2rem;
  }
}