.container {
  position: relative;
}

.easterEgg {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  opacity: 0.15;
  border: none;
  background: #a15555;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.3s;
}

@media (prefers-color-scheme: dark) {
  .easterEgg {
    background: #808080;
  }
}

.easterEgg:hover {
  opacity: 0.4;
}
