
.title{
    font-size: 4rem;
    margin: 0rem;
    margin-bottom: 2rem;
    color: var(--gold);
}

.subtitle{
    font-size: 2.5rem;
    margin: 0rem;
    margin-bottom: 1.5rem;
}

.description{
    max-width: 1000px;
    font-size: 1.5rem;
}

.scoreTitle{
    font-size: 4rem;
    margin: 0rem;
    margin-bottom: 1rem;
}
.scoreSubtitle{
    font-size: 3rem;
    margin: 0rem;
    margin-bottom: 2rem;
}
.scoreDescription{
    font-size: 2rem;
    margin: 0rem;
    margin-bottom: 1rem;
}

.buttonGroup {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

@media screen and (max-width: 600px) {
    .buttonGroup {
        flex-direction: column;
        gap: 0.5rem;
    }
}