.title{
    font-size: 4rem;
    margin: 0;
}
.subtitle{
    font-size: 1.75rem;
    margin: 0;
    margin-top: 2rem;
}
.text{
    max-width: 700px;
    margin: 2rem auto;
}
.wrap{
    padding: 0 2rem;
}
.buttons{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

@media  screen and (max-width: 600px) {
    .title{
        font-size: 2.5rem;
    }
    .subtitle{
        font-size: 1.25rem;
    }
    
}