.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title {
    font-size: 4rem;
    font-weight: var(--bold);
    margin: 0;
    text-align: center;
}

.contentWrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    align-items: start;
}

.textSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.subtitle {
    font-size: 1.75rem;
    font-weight: var(--semibold);
    margin: 0;
}

.text {
    font-size: 1.5rem;
    margin: 0;
}

.taskSubtitle {
    font-size: 1.75rem;
    font-weight: var(--semibold);
    margin-top: 1rem;
    margin-bottom: 0;
}

.taskText {
    font-size: 1.5rem;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 2rem;
    }

    .contentWrapper {
        grid-template-columns: 1fr;
    }

    .title {
        font-size: 2rem;
    }

    .subtitle,
    .taskSubtitle {
        font-size: 1.5rem;
    }

    .text,
    .taskText {
        font-size: 1rem;
    }
}