.title{
    font-size: 4rem;
    margin: 0rem;
    margin-bottom: 2rem;
    color: var(--red);

}
.text{
    max-width: 1000px;
}
@media screen and (max-width: 600px) {
    .title{
        font-size: 2.5rem;
    }
    
}